<!-- Header -->
<header>
  <!-- Navigation Menu start-->
  <nav id="topNav" class="navbar navbar-default main-menu">
    <div class="container">
      <button class="navbar-toggler hidden-md-up pull-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        ☰
      </button>
      <div class="collapse navbar-toggleable-sm" id="collapsingNavbar">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="#slider">Inicio</a>
            </li>
            <li>
                <a href="#about">Economía Solidaria</a>
            </li>
            <li>
                <a href="#knews">Noticias</a>
            </li>
            <li>
                <a href="#course">Curso</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!-- Header End -->

<!-- Slider -->
<section class="slider-pro slider" id="slider">
    <div class="sp-slides">
        <!-- Slides -->
        <div class="sp-slide main-slides">
            <div class="img-overlay"></div>
            <img class="sp-image" src="assets/images/economia_solidaria.png" alt="Slider 1"/>
        </div>
        <!-- Slides End -->
    </div>
</section>
<!-- Slider End -->

<section id="about" class="about-sec section-wrapper description">
    <div class="container">
        <div class="row">
            <!-- Section Header -->
            <div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
                <h2><span class="highlight-text">Economía Solidaria</span></h2>
                <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 about">
                  Economía solidaria, es un enfoque de la actividad económica que tiene en cuenta a las personas, el medio ambiente y el desarrollo sostenible y sustentable, como referencia prioritaria, por encima de otros intereses.
                </p>
            </div>
            <!-- Section Header End -->

            <div class="col-md-3 col-sm-4 col-md-offset-1 col-sm-1 col-xs-12 custom-sec-img wow fadeInDown">
              <div class="featuredImg">
                <img src="assets/images/economia.png" alt="Mano unidas en pro de econo"/>
              </div>
            </div>

            <div class="col-md-5 col-sm-5 col-xs-12 customized-text wow fadeInDown black-ed">
              <br>
              <strong class="about">Principios de la Economía Solidaria:</strong><br>
              <hr>
              <ol>
                <li>Principio de Equidad</li>
                <li>Principio de Trabajo</li>
                <li>Principio de Sostenibilidad Ambiental</li>
                <li>Principio de Cooperación</li>
                <li>Principio "Sin fines lucrativos"</li>
                <li>Principio de Compromiso con el entorno</li>
              </ol>
          </div>
        </div>
    </div>
</section>

<section id="knews" class="section-wrapper">
    <div class="container">
        <div class="row">
            <!-- Section Header -->
            <div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
                <h2><span class="highlight-text">Noticias</span></h2>
            </div>
          <!-- Section Header End -->
           <div class="row">
              <div class="col-md-3 col-sm-4 col-xs-12 text-xs-center wow fadeInDown" data-wow-delay=".2s">
                  <div class="service-box">
                      <div class="icon"> <h3>Wildlife  </h3></div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero praesentium quam nulla.</p>
                      <img src="assets/images/economia.png" alt="Custom Image">
                  </div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-12 text-xs-center wow fadeInDown" data-wow-delay=".2s">
                  <div class="service-box">
                      <div class="icon"> <h3>Wildlife  </h3></div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero praesentium quam nulla.</p>
                      <img src="assets/images/economia.png" alt="Custom Image">
                  </div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-12 text-xs-center wow fadeInDown" data-wow-delay=".2s">
                  <div class="service-box">
                      <div class="icon"> <h3>Wildlife  </h3></div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero praesentium quam nulla.</p>
                      <img src="assets/images/economia.png" alt="Custom Image">
                  </div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-12 text-xs-center wow fadeInDown" data-wow-delay=".2s">
                  <div class="service-box">
                      <div class="icon"> <h3>Wildlife  </h3></div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero praesentium quam nulla.</p>
                      <img src="assets/images/economia.png" alt="Custom Image">
                  </div>
              </div>
            </div>
        </div>
    </div>
</section>

<section id="course" class="bgSection course-section">
    <div class="container">
        <div class="row">

            <!-- Section Header -->
            <div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
                <h2><span class="highlight-text">Cursos</span></h2>

                <p>Virtual Sol es un portal que le guiará en el aprendizaje de este nuevo modelo de desarrollo economíco.</p>

                <div id="course-filter" class="course-filter-btn-group">
                    <ul>
                        <li>
                            <a href="">INICIAR</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Section Header End -->

        </div>
    </div>

    <!-- Works -->
    <div class="course-works wow fadeIn" data-wow-duration="2s">

        <div id="course-filter" class="course-filter-btn-group">
            <a href="#" class="selected">ALL</a>
        </div>

    </div>
    <!-- Works End -->


</section>
<!-- course Section End -->

<footer>
  <div class="container">
    <div class="row">
      <div class="footer-containertent">
          <p>Copyright © 2017 PSEES</p>
      </div>
    </div>
  </div>
</footer>
<!-- Footer End -->
