<div class="container">

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">
          <strong>Nombre del curso</strong> Nombre del curso
        </h2>
        <hr>
        <div class="text-center">
          <p>
            <strong>Objetivo del curso: </strong>
          </p>

          <!--
          <div class="course_out">
            <strong>Módulos:</strong>
            <br><br>
            <ul>
              <li>1</li>
              <li>2</li>
            </ul>

            <a href="#" class="btn btn-default btn-md">Inscribirme</a>
          </div>
          -->
          <div class="course_in">
            <table class="table">
              <thead>
                <tr>
                  <td><strong>Módulos</strong>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr class="success">
                  <td><a href="#">Completados</a></td>
                </tr>
                <tr>
                  <td><a routerLink="/site/module">Actual</a></td>
                </tr>
                <tr class="active disabled">
                  <td><a href="#">Deshabilitados</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- /.container -->
